body{
    margin: 0;
    padding: 0;
    background-color: #fdfbec;
}


.animals-wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.penguin{
    position: absolute;
    display: block;
    left: 50px;
    top: 450px;
    width: 300px;
    height: 280px;
    /*border: 1px solid red;*/
}

.penguin-lower-beak{
    position: absolute;
    right: 70px;
    top: 60px;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid #faa01e;
    border-right: 30px solid #faa01e;
    border-radius: 50px;
}

.penguin-upper-beak{
    position: absolute;
    top: 30px;
    right: 50px;
    width: 0px;
    height: 0px;
    border-left: 45px solid #faa01e;
    border-top: 45px solid #faa01e;
    border-top-right-radius: 50px;
}

.penguin-body-white{
    position: absolute;
    top: 30px;
    right: 90px;
    width: 0px;
    height: 40px;
    border: 80px solid #000;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.penguin-body-black{
    position: absolute;
    top: 30px;
    right: 90px;
    width: 0px;
    height: 0;
    border-top: 85px solid #fff;
    /*border-right: 85px solid yellow;*/
    border-left: 87px solid #fff;
    border-bottom: 80px solid #fff;
    border-width: 100px;
    border-top-left-radius: 93px;
    border-bottom-right-radius: 80px;

}

.penguin-eye-yellow{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 0px;
    height: 0px;
    border: 15px solid #F7D81A;
    border-radius: 20px;
}

.penguin-eye-black{
    position: absolute;
    top: 56px;
    right: 106px;
    width: 0px;
    height: 0px;
    border: 9px solid #000;
    border-radius: 20px;
}

.penguin-foot{
    position: absolute;
    bottom: 52px;
    right: 100px;
    width: 0px;
    height: 0px;
    border-right: 30px solid #F78E19;
    border-left: 20px solid #F78E19;
    border-bottom: 20px solid #F78E19;
    border-top-right-radius: 50px;
    z-index: -1;
}